<nav class="navbar navbar-fixed-top col-xs-12" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">JANINE HEISER</a>
      <!-- <span style="font-size:15px">full stack development and interaction design</span> -->
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <pto-page-nav-single></pto-page-nav-single>
    </div>
   <!-- <div class="mynav row"><hr></div> -->
</nav>
