<div>
  <ul class="nav navbar-nav pull-right">
    <li ng-class="{'active':isPage('home')}"><a href="#/#home">HOME</a></li>
    <li ng-class="{'active':isPage('projects')}"><a href="#/#projects">PROJECTS</a></li>
    <li ng-class="{'active':isPage('projects')}"><a href="#/#experience" prevent-default="" scroll-to="experience">EXPERIENCE</a></li>
    <li ng-class="{'active': isPage('about')}"> <a href="#/#about">ABOUT</a></li>
    <li ng-class="{'active': isPage('contact')}"><a href="#/#contact">CONTACT</a></li>
    <li ng-class="{'active': isPage('contact')}"><a href="#/#hire"><div class="hireme">HIRE ME</div></a></li>
  </ul>
</div>

