<pto-main-nav2></pto-main-nav2>
<div class="container">
<!-- project info -->
  <div class="row col-xs-12 showtitle">{{project.title}}</div>
  <div class="row col-xs-12 showtagline">{{project.tagline}}</div>
  <!-- break grid smaller into a block of 3 and 6 -->
  <div class="row">
   <div class= "col-xs-3 projectThumbImgShow">
        <div back-img="images/projectpics/{{project.title_short}}/{{project.thumb}}"></div>
    </div>
    <div class= "col-sm-3 projShowCard">
      <div class="row projShowItem" ng-show="project.place"> <b>CLIENT</b>: {{project.place}} </div>
      <div class="row projShowItem" ng-show="project.proj_date"> <b>DATE</b>: {{project.proj_date}} </div>
      <div class="row projShowItem" ng-show="project.team"> <b>TEAM</b>: {{project.team}} </div>
      <div class="row projShowItem" ng-show="project.role"> <b>ROLE</b>: {{project.role}} </div>

     </div>
    <div class= "col-sm-3 projShowCard">
       <div class="row projShowItem" ng-show="project.skills"> <b>SKILLS</b>: {{project.skills}} </div>
         </div>
    <div class= "col-sm-3 projShowCard">
      <div class="row projShowItem" ng-show="project.toolbox_ids"><b>TOOLS</b>: {{project.toolbox_ids}} </div>
      <div class="row projShowItem"><b>PROJECT LINKS</b><a ng-show="project.github" href="{{project.github}}"><br>link to github repo</a><a ng-show="project.website" href="{{project.website}}"><br> link to website</a><a ng-show="project.report" href="{{project.report}}"><br>link to report</a></div>
    </div>
  </div>
  <div class="row showDescrip">
    {{project.description}}
  </div>
  <!-- gallery view -->
  <div class="row">
    <div class="projShowThumbsRoll">
      <ul class="noscroll">
        <!--Iterate through all images and display them end to end as thumbs -->
        <li ng-repeat="image in galleryData">
          <div class="thumbwrapper"  ng-class="{'record-highlight': $index == focusIndex }">
            <!--    Note ng-click here calls the scrollTo function found in the
            controller and passes it its index. This is used to scroll
            the large image to the correct image -->
            <a ng-href="" ng-click="scrollTo(image,$index)">
              <img class="thumbpic" ng-src="{{IMAGE_LOCATION+image.image}}" ng-class="{'image-highlight': $index == focusIndex }"/>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
  <div class="mainimageshell">
    <!--    Layout the large images horizontally using viewwindo to hide the overflow (all but the current image). -->
    <div class="viewwindow">
        <!--    fullscroller is referenced from the Controller js to control scrolling -->
      <ul class="fullsizelist" ng-style="listposition" >
        <!--    Iterate through all images and display them end to end -->
        <li ng-repeat="image in galleryData">
          <div ng-if="image.type == 'image'">
            <div id="fullsize" class="large">
              <div back-img-big="{{IMAGE_LOCATION+image.image}}"></div>
            </div>
          </div>
          <div ng-if="image.type == 'video'">
            <youtube-video video-id="image.video" player-width="'650px'" player-height="'450px'" player="galleryPlayer"></youtube-video>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- Display the description of the current image -->
  <div class="caption">
    <div class="captionhead">{{selected.header}}</div>
      <div ng-bind-html="selected.desc"></div>
    </div>
    <div style="clear:both;"></div>
    <!--    Layout the large images horizontally using viewwindow to hide the overflow (all but the current image). -->
  </div>
</div>
<!-- ******footer section -->
  <div class="footer row col-xs-12"><hr></div>
  <div  class="row col-xs-12 text-muted"><a href="https://github.com/j9recurses/portfolio">Copyright © Janine Heiser 2015</a></div>
</div>

<!-- </div> -->
