 <pto-main-nav2></pto-main-nav2>
 <div class="row col-xs-12 meAboutHead">ABOUT</div>
  <!-- <div class="meAboutContainer"> -->
  <div class="col-xs-12 row">
    <div class="col-sm-6 col-xs-12 meAbouthalf">
      <div class="meAbout">
        <div back-img="images/singlepage/me.jpg"></div>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="row meAboutText">
        I'm a San Francisco Bay Area full-stack developer and data analyst with specialties in user research and interaction design. <br><br>
        Originally a self-taught programmer, I recently had the opportunity to go back to school at the UC Berkeley School of Information to learn best practices for data management and user experience design.
        My work and educational experiences have taught me that good information organization complements usability.<br><br>
        I'm seeking to work in collaborative work environment; I love to share ideas, learn from others and be part of a team.
        </br></br>
        I also like to hike, travel, and go swimming.
      </div>
    </div>
  </div>
<!-- ******footer section -->
  <div class="footer row col-xs-12"><hr></div>
  <div  class="row col-xs-12 text-muted"><a href="https://github.com/j9recurses/portfolio">Copyright © Janine Heiser 2015</a></div>
