 <pto-main-nav2></pto-main-nav2>
  <div class="row meAboutHead"> ABOUT </div>
  <div class="row meAboutContainer">
    <div class="meAbout col-xs-6">
      <div back-img="images/singlepage/me.jpg"></div>
    </div>
    <div class="meAboutText col-xs-6">
      I'm a San Francisco Bay Area full-stack developer and data analyst with specialties in user research, prototyping, and interaction design. <br><br>
      Originally a self-taught programmer, I had the opportunity to go back to school at the UC Berkeley School of Information to learn best practices for data management and user experience design.
      My work and educational experiences have taught me that good information organization complements usability.<br><br>
      I'm seeking to work in collaborative work environment; I love to share ideas, learn from others and be part of a team.
      </br></br>
      I also like to hike, travel, and go swimming.
    </div>
  </div>
<div class="footer row"><hr></div>
  <div  class="row text-muted"><a href="https://github.com/j9recurses/portfolio">Copyright © Janine Heiser 2015</a></div>
