 <pto-main-nav2></pto-main-nav2>
  <div class="row meAboutHead"> ABOUT </div>
  <div class="row meAboutContainer">
    <div class="meAbout col-xs-6">
      <div back-img="images/me.jpg"></div>
    </div>
    <div class="meAboutText col-xs-6">
      Originally a self-taught programmer, I had the opportunity to go back to school at the UC Berkeley School of Information to learn best practices for data management and product usability.
      My work and educational experiences have taught me that good information organization complements user experience design.
      I'm seeking to work in collaborative work environment; I love to share ideas, learn from others and be part of a team.
      </br></br>
      I also like to hike, travel, and go swimming.
    </div>
  </div>
<div class="footer row"><hr></div>
  <div  class="row text-muted">Copyright © Janine Heiser 2015</div>
