 <!--************CONTACT SECTION***************************-->
 <pto-main-nav2></pto-main-nav2>
  <div class="row col-xs-12 meAboutHead">HIRE ME</div>
  <div class="row col-xs-12 contactpitch">
    I'm currently looking for a full time position in SF Bay Area.
  </div>
  <div class="row col-xs-12 contactpitchtext">
      Think I might be a good fit for your team?  You should totally hire me.  Shoot me an email to set up a chat!
  </div>
  <div class="row col-xs-12 contactcontainer">
    <div class="col-sm-6 col-xs-12 contactItemContainer">
      <div ng-repeat="item in contactItems">
        <div class="row contactitem">
          <div class="col-xs-3 contactThumb">
            <a href="{{item.link}}"><div back-img="images/singlepage/{{item.thumbimage}}"></div></a>
          </div>
          <a class="contactlink col-xs-3" href="{{item.link}}"> {{item.name}}</a>
        </div>
      </div>
    </div>
    <div class="meAbout2 col-sm-6 col-xs-12">
      <div back-img="images/singlepage/meandchichi.jpg"></div>
    </div>
  </div>
  <!-- ******footer section -->
  <div class="footer row col-xs-12"><hr></div>
  <div  class="row col-xs-12 text-muted"><a href="https://github.com/j9recurses/portfolio">Copyright © Janine Heiser 2015</a></div>

