 <pto-main-nav2></pto-main-nav2>
  <div class="row resumeFull"> <a href="/images/janineheiser_resume.pdf" download="janineheiser_resume">Download Full Resume</a></div>
  <div class="row resumeHead">PROFESSIONAL EXPERIENCE</div>
  <div class="myjobs">
  <!-- first job -->
    <div class="row resumeJobHead"><a href="" class="resumeclick" ng-click="isCollapsed = !isCollapsed" >WEB DEVELOPER, Bancroft Library, Summer 2014, UC Berkeley</a> </div>
    <div class="resumeJobItemContainer" collapse="isCollapsed">
      <div class="row resumeJobItem">
          + Created a fully functional, Ruby on Rails web application that utilized a variety of existing natural
          language processing algorithms and libraries.
      </div>
      <div class="row resumeJobItem">
          + The web application enables researchers and archivists to extract meaningful semantic topics andnamed entities from a given digital archival collection.
      </div>
    </div>
    <!-- second job -->
    <div class="row resumeJobHead"><a href="" class="resumeclick" ng-click="isCollapsed2 = !isCollapsed2">SYSTEMS ADMINISTRATOR, July 2013-December 2014, UC Berkeley School of Law, Statewide Database Project </a></div>
    <div class="resumeJobItemContainer" collapse="isCollapsed2">
      <div class="row resumeJobItem">
         + Administered the Statewide Database's web servers; tasks included administering dev/QA/production websites, database
          systems, managing user accounts and file systems.
      </div>
      <div class="row resumeJobItem">
         + Wrote and administered automated scripts that ensured the integrity and availability of Statewide Database's datasets to the
          public and other stakeholders.
      </div>
    </div>
    <!-- third job -->
    <div class="row resumeJobHead"><a href="" class="resumeclick" ng-click="isCollapsed3 = !isCollapsed3">QUALITY ASSURANCE ENGINEER, December 2012-September 2013, INgrooves Fontana, San Francisco, CA </a></div>
    <div class="resumeJobItemContainer" collapse="isCollapsed3">
      <div class="row resumeJobItem">
         + Created and implemented automated testing software written python to test new accounting software features and
          functionality; identified, isolated, logged and tracked software defects, bugs and errors and added to test case libraries.
      </div>
      <div class="row resumeJobItem">
         + Optimized SQL queries that queried application database tables as required; tables contained up to 324 million records of
           transactional data.
      </div>
    </div>
    <!--fourth job -->
    <div class="row resumeJobHead"><a href="" class="resumeclick" ng-click="isCollapsed4 = !isCollapsed4">DATA ANALYST, August 2007-November 2012, Democratic National Committee, Technology Department, National Voter Database Project, Washington, DC and San Francisco, CA </a></div>
    <div class="resumeJobItemContainer" collapse="isCollapsed4">
      <div class="row resumeJobItem">
         + Helped develop and maintain the data infrastructure and provided quality assurance for the Democratic Party’s online voter data management tool, Voter Activation Network (VAN), used by the Obama For America Campaign, and democratic candidates to organize and mobilize voters. (http://www.ngpvan.com/smartvan)
      </div>
      <div class="row resumeJobItem">
         + Assisted in developing and maintaining Java-based ETL database tools and processes to cleanse, standardize and manage several terabytes of data from public and private sources about voters and voting districts.
      </div>
      <div class="row resumeJobItem">
        + Planned, designed, and developed automated scripts, stored procedures, and database queries for auditing voter data for quality assurance.
      </div>
    </div>
  </div>
  <div class="row extraSkillz">
    <div class="col-xs-6">
      <div class="row resumeItemsHead">TECHNICAL SKILLS </div>
      <div class="row resumeitems"><div>PROGRAMMING</div><div class="resumeskillsContainer">python, ruby, java, bash scripting</div></a></div>
      <div class="row resumeitems"><div>WEB</div><div class="resumeskillsContainer"> ruby on rails, HTML/CSS, jQuery, ajax, node.js, php, sinatra, flask, nginx and apache webserver administration</div></a></div>
      <div class="row resumeitems"><div>DBMS</div><div class="resumeskillsContainer"> highly skilled in database design, administration and query optimization; familiarity with mapreduce concepts and nosql dbs like mongodb and sparkdb</div></a></div>
      <div class="row resumeitems"><div>DATA ANALYSIS AND VISUALIZATION</div><div class="resumeskillsContainer"> d3, highcharts, tableau, scipy, pandas, R </div></a></div>
    </div>
    <div class="col-xs-6">
      <div class="row resumeItemsHead">EDUCATION </div>
      <div class="row resumeitems">UC BERKELEY, Berkeley, CA, Masters in Information Management and Systems, May 2015</div>
          <div class="row resumeitemsplus"><span style="padding-right:1%">+</span> Focus areas: user-centered interaction design, web development, data analysis, information visualization and organization</div>
        </div>
      <div class="row resumeitems">OBERLIN COLLEGE, Oberlin, OH, BA with high honors</div>
    </div>
  </div>






<div class="footer row"><hr></div>
  <div  class="row text-muted">Copyright © Janine Heiser 2015</div>
