<pto-main-nav></pto-main-nav>


<h1> HIRE me! </h1>
<div class = "main_content">
<div id = "resume_full"> <a href="/images/janineheiser_resume.pdf">Download Full Resume</a></div>
<div class = "resume_head">Professional Experience</div>

<ul class = "resume">
<li class  = "resume_job_head"> <b>Web Developer</b>, Bancroft Library, Summer 2014, UC Berkeley </li>

<div class = "resume_head">Technical Skills </div>
<ul class = "resume">
<li class = "resume_job_head"><b>Programming</b>: python, ruby, java, bash scripting</li>
<li class = "resume_job_head"><b>Web</b>: rails, HTML/CSS, jQuery, ajax, node.js, php, sinatra, flask, nginx and apache webserver administration</li>
<li class = "resume_job_head"><b>DBMS</b>: highly skilled in database design, administration and query optimization; familiarity with mapreduce concepts and nosql dbs like mongodb and sparkdb </li>
<li class = "resume_job_head"><b>Data Analysis and Visualization</b>: d3, highcharts, tableau, scipy, pandas, R </li>
</ul>
<li class  = "resume_job_head"> <b>Systems Administrator</b>, July 2013-December 2014, UC Berkeley School of Law, Statewide Database Project </li>


<li class  = "resume_job_head"> <b>Quality Assurance Engineer</b>, December 2012-September 2013, INgrooves Fontana, San Francisco, CA </li>


<li class  = "resume_job_head"> <b>Data Analyst</b>, August 2007-November 2012, Democratic National Committee, Technology Department, National Voter Database Project, Washington, DC and San Francisco, CA </li>
</ul>


<div class = "resume_head">Education </div>
<ul class = "resume">
<li class  = "resume_job_head"><b>UC Berkeley</b>, Berkeley, CA, Masters in Information Management and Systems, Expected Spring 2015 </li>
<li class = "resume"> <div class = 'plus'> +</div> Focus areas: user-centered interaction design, web development, data analysis, information visualization and organization</li>
<li class  = "resume_job_head"><b>Oberlin College</b>, Oberlin, OH, BA with high honors; Politics, Religion, 2007 </li>
</ul>
